#custom-image {
  animation: rotate_image 10s 2s infinite ease-in;
}

@keyframes rotate_image {
  0% {
    transform: rotate(180deg);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: rotate(-180deg);
  }
}
