/* section#sectionID {
  background: url("/images/map-dots.png");
} */

span.Typewriter__wrapper {
  font-size: 1.5rem !important;
  line-height: 2.25rem;
}

.custom-animation {
  animation: animate 10s forwards infinite;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
