/* #login_bg {
  position: relative;
  z-index: 50;
}
#login_bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0ea5e9;
  width: 300px;
  height: 300px;
  border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
  z-index: -10;
}
#login_bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0ea5e9;
  width: 300px;
  height: 300px;
  border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
  z-index: -10;
} */
